<table class="table table-bordered">
      <tr>
      <th width="5%">Sap_code</th>
<th width="35%">Shipping_Confirmation</th>
<th width="40%">Shipping_Address</th>
<th width="50">State</th>
<th width="5%">Pincode</th>
<th width="5%">Item_Code</th>
<th width="5%">Product_Grade</th>
<th width="5%">Color_Code</th>
<th width="5%">Length</th>
<th width="5%">Width</th>
<th width="5%">Matching_Lot</th>
<th width="5%">Order_Qty</th>
<th width="5%">Order_Date</th>
      </tr>
      {% for row in ordersrange %}
          <tr>
          <td>{{row.sap_code}}</td>
    <td>{{row.shipping_type}}</td>
    <td>{{row.address_no}}</td>
    <td>{{row.state_no}}</td>
    <td>{{row.pincode_no}}</td>
        <td>{{row.item_code}}</td>
        <td>{{row.product_grade}}</td>
        <td>{{row.color_code}}</td>
        <td>{{row.length_no}}</td>
        <td>{{row.width_no}}</td>
        <td>{{row.matching_lot}}</td>
        <td>{{row.order_qty}}</td>
        <td>{{row.Timestamp}}</td>
          </tr>
      {% endfor %}
</table>